{% extends 'base.html.twig' %}

{% block title %}Modifier la recette
{% endblock %}

{% block body %}
	<h1>Modifier la recette</h1>

	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button type="submit" class="btn btn-primary">Enregistrer</button>
	{{ form_end(form) }}

	<a href="{{ path('recipe.show', {'id': recipe.id, 'slug': recipe.slug}) }}">Retour à la recette</a>
{% endblock %}
