{% extends 'base.html.twig' %}

{% block title %}Liste des recettes
{% endblock %}
{% block body %}
	<h1>Liste des recettes</h1>
	<ul>

		{# {{ dump(app.current_route) }} #}

		<li>
			<ahref="{{url('recipe.show',{id:1,slug:'recette-1'})}}">Recette 1</a>
		</li>
		<li>
			<ahref="{{url('recipe.show',{id:2,slug:'recette-2'})}}">Recette 2</a>
		</li>

	</ul>
{% endblock %}
